.main {
  background-color: #000;
  min-height: 100vh;
  flex-grow: 1;
}

.title {
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  margin: 5.5rem 0 1.5rem 2.5rem;
}

.postItContainer {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 2.5rem);
  margin-left: 2.5rem;
  margin-top: 0;
}

.titleContainer {
  display: flex;
}

.mobileButtonContainer {
  display: none;
  margin-top: 80px;
  margin-left: auto;
  margin-right: 30px;
}

.empySub {
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 1110px) {
  .mobileButtonContainer {
    display: inline-block;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 25px;
  }
  .mobileButtonContainer {
    margin-top: 74px;
  }
  .empySub {
    font-size: 1rem;
  }
}
