.postIt {
  background: url(../vectors/PostIt.svg) no-repeat 100%;
  max-width: 325px;
  max-height: 353px;
  min-width: 312px;
  min-height: 310px;
  width: 80vw;
  height: 80vw;
  padding: 40px 25px 25px 25px;
  margin-right: 20px;
  margin-top: 1.25rem;
}

.postIt h4 {
  font-size: 1.5rem;
  min-width: 100%;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postIt h4:hover {
  white-space: unset;
  text-overflow: unset;
  overflow: hidden;
}

.postIt p {
  font-size: 18px;
  text-align: justify;
  max-height: calc(100% - 114px);
  overflow: hidden;
  text-overflow: clip;
}

.postIt:hover .closeButton {
  display: grid;
}

.closeButton {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  place-items: center;
  float: right;
  position: relative;
  bottom: 46px;
  left: 36px;
  cursor: pointer;
  margin-bottom: -48px;
}
