@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
  padding: 0;
}

input {
  font-family: inherit !important;
}
